In [15]:
require 'daru'

false

# Daru
Daru provides some data structures which are widely used in data science. They provide functionality for easily manipulating, subsetting, combining, and aggregating data. The primary structures provided by daru are vectors and data frames.

## Vectors
Conceptually, vectors are very similar to a ruby `Array`. However, daru's vectors are typed - meaning that each element of a vector must be of the same logical type (Integer, String, Boolean, etc.).

In addition to many of the methods you would expect on an Array, vectors include additional functionality for statistical methods, aggregation, plotting and other things.

### Making a new vector

In [16]:
randos = (1..100).map { rand(100) }
vector = Daru::Vector.new(randos)

#<Daru::Vector(100)>
   0  39
   1  40
   2  51
   3  61
   4  47
   5  67
   6  76
   7  34
   8   5
   9  24
  10  90
  11  82
  12  71
  13  63
  14  51
 ... ...

### Aggregation
Sum, min, max, count , average, standard deviation

In [ ]:
numbers.count

In [ ]:
numbers.min

In [ ]:
numbers.max

In [ ]:
numbers.mean

In [ ]:
numbers.std

In [ ]:
numbers.product

### Plotting

In [ ]:
numbers.plot(type: :histogram)

# Daru - Data frames for Ruby
Data frames are tabular data structures for storing observational data. Conceptually, a data frame is a collection of vectors where each vector is the same length but does not have to be of the same type.

In [ ]:
data = [
    { age: 32, gender: 'f' },
    { age: 21, gender: 'm' },
    { age: 25, gender: 'f' },
    { age: 46, gender: 'f' },
    { age: 54, gender: 'm' },
    { age: 53, gender: 'm' },
]

In [ ]:
dataframe = Daru::DataFrame.new(data)

### NHANES
NHANES is a data set collected and released by the CDC. It contains data about the health and nutrition of people around the nation.

Let's explore NHANES a bit.

In [ ]:
nhanes_url = 'https://raw.githubusercontent.com/ProjectMOSAIC/NHANES/master/data-raw/NHANES.csv'
nhanes = Daru::DataFrame.from_csv(nhanes_url); nil

p "Loaded #{nhanes.size} rows"

### What is the distribution of age?

In [ ]:
nhanes['Age'].plot(type: :histogram) { |p| 
  p.yrange [0,1000]
  p.y_label 'Frequency'
  p.x_label 'Age'
}